{% load static %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailuserbar %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="author" content="Sanders Lin">


    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Core Style -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static 'blog/css/font-icons.css' %}">

    <!-- Niche Demos -->
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Document Title
    ============================================= -->
    <title>{% block title %}{% endblock %}</title>

</head>

<body class="stretched search-overlay">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper">

        <!-- Header
        ============================================= -->
        <header id="header" class="header-size-custom" data-sticky-shrink="false">
            <div id="header-wrap">
                <div class="container">
                    <div class="header-row justify-content-lg-between">

                        <!-- Logo
                        ============================================= -->
                        <div id="logo" class="mx-lg-auto col-auto flex-column order-lg-2 px-0">
                            <a href="/blog/">
                                <img class="logo-default" srcset="{% static 'blog/images/logo.png' %}, {% static 'blog/images/logo@2x.png' %}" src="{% static 'blog/images/logo@2x.png' %}" alt="Not loaded">
                                <img class="logo-dark" srcset="{% static 'blog/images/logo-dark.png' %}, {% static 'blog/images/logo-dark@2x.png' %}" src="{% static 'blog/images/logo-dark@2x.png' %}" alt="Canvas Logo">
                                <img class="logo-mobile" srcset="{% static 'blog/images/mobile-logo.png' %}, {% static 'blog/images/mobile-logo@2x.png' %}" src="{% static 'blog/images/mobile-logo@2x.png' %}" alt="Canvas Logo">
                            </a>
                            <span class="divider divider-center date-today"><span class="divider-text"></span></span>
                        </div><!-- #logo end -->

                        <div class="col-auto col-lg-3 order-lg-1 d-none d-md-flex px-0">
                            <div class="social-icons">
                                <a href="https://facebook.com/semicolonweb" class="social-icon rounded-circle bg-dark si-mini h-bg-facebook border-0" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com/__semicolon" class="social-icon rounded-circle bg-dark si-mini h-bg-twitter border-0" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href=" https://instagram.com/semicolonweb" class="social-icon rounded-circle bg-dark si-mini h-bg-instagram border-0" target="_blank">
                                    <i class="bi-instagram"></i>
                                    <i class="bi-instagram"></i>
                                </a>
                            </div>
                        </div>

                        <div class="header-misc col-auto col-lg-3 justify-content-lg-end ms-0 ms-sm-3 px-0">

                        

                            <!-- Top Search
                            ============================================= -->
                            <div id="top-search" class="header-misc-icon">
                                <a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
                            </div><!-- #top-search end -->

                            <div class="dark-mode header-misc-icon d-none d-md-block">
                                <a href="#" class="body-scheme-toggle" data-bodyclass-toggle="dark" data-add-html="<i class='bi-sun'></i>" data-remove-html="<i class='bi-moon-stars'></i>"><i class="bi-moon-stars"></i></a>
                            </div>
                        </div>

                        <div class="primary-menu-trigger">
                            <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                                <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="container">
                    <div class="header-row justify-content-lg-center header-border">

                        <!-- Primary Navigation
                        ============================================= -->
                        <nav class="primary-menu with-arrows">

                            <ul class="menu-container justify-content-between">
                                <li class="menu-item"><a class="menu-link" href="demo-blog.html"><div>SGS安心檢驗</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="/math/"><div>品牌使命</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="/math/"><div>營養保健資訊</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="/math/"><div>林醫師醫學講堂</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="demo-blog-categories.html"><div>保健知識作者群</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="demo-blog-categories.html">購買商品<div></div></a></li>
                               
                            </ul>

                        </nav><!-- #primary-menu end -->

                        <form class="top-search-form" action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                        </form>

                    </div>
                </div>
            </div>
            <div class="header-wrap-clone"></div>

        </header><!-- #header end -->


        {% block content %}{% endblock %}
        

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="uil uil-angle-up rounded-circle" style="left: 30px; right: auto;"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="{% static 'blog/js/plugins.min.js' %}"></script>
    <script src="{% static 'blog/js/functions.bundle.js' %}"></script>

    <!-- ADD-ONS JS FILES -->
    <script>
        // Current Date
        var weekday = ["Sun","Mon","Tues","Wed","Thurs","Fri","Sat"],
            month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            a = new Date();

            document.querySelector('.date-today span').innerHTML = weekday[a.getDay()] + ', ' + month[a.getMonth()] + ' ' + a.getDate();

        jQuery('.dark-mode').on( 'click', function() {
            jQuery("body").toggleClass('dark');
            return false;
        });
    </script>

</body>
</html>