	
{% extends "base.html" %}



{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}


	<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					
				

					<div class="heading-block text-center">
						<h2>醫師作者群</h2>
						<span>真正正確的醫學知識來自專業醫療作者群</span>
					</div>

					<div class="row col-mb-50 mb-0">

						<div class="col-lg-6">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="{% static 'blog/images/peterLin.jpg' %}" alt="林進興醫師">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>林進興醫師</h4><span>醫學博士</span></div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
									</div>
									<a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-facebook">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>
									<a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-twitter">
										<i class="fa-brands fa-twitter"></i>
										<i class="fa-brands fa-twitter"></i>
									</a>
									<a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-google">
										<i class="fa-brands fa-google"></i>
										<i class="fa-brands fa-google"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="{% static 'blog/images/SandersLin.jpg' %}" alt="Josh Clark">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>林宏慶醫師</h4><span>內科專科醫師</span></div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
									</div>
									<a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-facebook">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>
									<a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-twitter">
										<i class="fa-brands fa-twitter"></i>
										<i class="fa-brands fa-twitter"></i>
									</a>
									<a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-google">
										<i class="fa-brands fa-google"></i>
										<i class="fa-brands fa-google"></i>
									</a>
								</div>
							</div>
						</div>

						

						

					</div>

				</div>

		
			</div>
		</section><!-- #content end -->



{% endblock %}